@media screen and (max-width:900px){
    body{
        background-color: rgb(100, 100, 254);
    }
}


@media screen and (max-width: 480px){
    body{
        background-color: #8f0505;
    }
    header nav{
        display: none;
    }
    header h1{
        width: 90%;
    }
    section#main h2{
        margin-top: 200px;
    }
    section#contact .columna{
        width:100;
    }
}
